.post-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  overflow: hidden;
}

.post-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 15px;
  order: 2;
}

.post-content {
  padding: 10px;
  flex-grow: 1;
  order: 1;
  text-align: left;
}

.post-title {
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
}

.post-description {
  font-size: 13px;
  color: #666;
  margin: 5px;
}
